.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #ffffff !important;
  }
  .w-100 {
    width: 100% !important;
    height: 600px;
  }
  .navbar-expand-lg .navbar-collapse {
    /* display: flex !important;
    flex-basis: auto; */
    margin-left: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
.nav-item {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}
.navbar-brand {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkorange;
}

.nav-link:hover{
  color: darkorange;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 14.25rem !important;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-caption h5 {
  font-size: 40px;
  text-transform: capitalize;
}

.p{
  padding-top: 100px;
}
.carlogo-img img{
 width: 100%;
}
.btn.btn-outline-secondary {
  padding: 15px 50px 15px 50px;
  margin-top: 18px;
}